body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

.loading {
  margin: 50vh auto;
  max-width: 100vw;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.login img {
  width: 10rem;
}

.login button {
  all: unset;
  padding: 20px;
  border-radius: 99px;
  background-color: #1db954;
  font-weight: 600;
  color: white;
}

.login button:hover {
  background-color: white;
  border-color: #1db954;
  color: #1db954;
}

h1 {
  padding: 0.77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}

.App {
  padding: 0 17% 10% 17%;
  background-image: url("./background_photo_desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}